<div class="container">
  <div class="row">
    <div class="col-2">
      <div class="list-group m-2">
        <button class="list-group-item list-group-item-action" *ngFor="let ct of categories" (click)="getCategoryWiseProducts(ct.id)">{{ct.name}} </button>
      </div>
    </div>
    <div class="col-3">
      <div class="card m-2" *ngFor="let pd of products">
        <div class="card-body">
          {{pd.name}}
          <button type="button" class="btn btn-primary btn-sm float-end" (click)="getProductDetails(pd.id)">details</button>
        </div>
      </div>
    </div>
    <div class="col-7">
      <div class="card m-2">
        <div class="card-header">Product: {{product.name}}</div>
        <div class="card-body">
          <div class="card-text fst-italic">{{product.description}}</div>
          <div class="d-flex">
            <div class="flex-fill">Item left: {{product.quantity}}</div>
            <div class="flex-fill">Price: ${{product.price}}</div>
          </div>
          <div class="card mt-3 border-0">
            <div class="card-header">Product reviews</div>
            <div class="card-body p-0">
              <ul class="list-group">
                <li class="list-group-item border-0" *ngFor="let rv of product.reviews">
                  <div>
                    <span class="">{{rv.title}}</span>
                    <span class="float-end">{{rv.date}}</span>
                  </div>
                  <div>
                    <span class="fw-light">{{rv.comment}}</span>
                    <span class="float-end">Rating: {{rv.rating}}</span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>